body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

iframe {
    border: 1px solid black;
    box-shadow: 0 4px 10px rgba(104, 104, 104, 0.8);
}

.leftspace {
    margin-left: 20px;
}

.punchout-window {
    padding: 20px;
    width: 100%;
}
.lineitems {
    padding: 20px;
}

th {
    color: #888;
    font-weight: normal;
    padding: 8px;
}

.table-label {
    color: #888;
}

.number-col {
    padding: 8px;
    text-align: right;
}

.text-col {
    padding: 8px;
    text-align: left;
}

.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-area {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #e0e0e0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.modal-area .title {
    font-size: 16px;
    font-weight: bold;
    padding: 4px 20px 20px 20px;
}

.modal-area .message {
    font-size: 15px;
    padding: 20px;
}

